<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # www.bitbear.org -> bitbear.org
  RewriteCond %{HTTP_HOST}  ^www.bitbear.org$      [NC]
  RewriteRule ^(.*)$        http://bitbear.org/$1  [R=301,L]
</IfModule>