@charset 'utf-8';

// Color
$text-color: #ccc;
$bg-color-light: #41228e;
$bg-color-dark: #000;
$body-bg-color: #000;
$nav-link-color: #fff;
$nav-link-hover-color: #ccc;

// Font
$primary-font: 'Roboto', sans-serif;
