@charset 'utf-8';

// Color
$text-color: #ccc;
$header-bg-color1: #41228e;
$header-bg-color2: #000;
$body-bg-color: #000;
$nav-link-color: #fff;
$nav-link-hover-color: #ccc;

// Font
$primary-font: 'Roboto', sans-serif;
